.registall{
    height: 100vh;
}

.regist{
    font-family: Poppins,Arial,Tahoma,Verdana,sans-serif;
    font-size: 13px;
    width: 38%;
}

.regist h2{
    font-size: 20px;
    font-weight: 700;
    color: #444;
    font-family: Roboto Slab,serif;
}

.regist input{
display: block;
width: 100%;
margin: 1rem 0 !important;
padding: .5rem;
padding-left:1rem;
border: .5px solid #44444445;
}

.regist input::placeholder{
    color: #44444476;
}

.regist input[type="checkbox"]{
    width:1rem; 
    height: 1rem;
    vertical-align: middle;
}

p{
    font-family: Poppins,Arial,Tahoma,Verdana,sans-serif;
    color: black;
}

button{
    background-color: black;
    color: white;
    padding: .4rem ;
}

.frontError{
    color: rgba(255, 0, 0, 0.604);
    text-transform: uppercase;
    letter-spacing: .5px;
}

.backError{
    border: 2px solid rgba(255, 0, 0, 0.61);
    background-color:rgba(255, 0, 0, 0.089);

    padding: .45rem .8rem;
    color: rgba(255, 0, 0, 0.604);
    text-align: center;
    letter-spacing: .5px;
}